.VotingMechanism-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.VotingMechanism-grid-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  width: 100%;
}
.VotingMechanism-grid-left img {
  width: 100%;
  object-fit: contain;
}
.VotingMechanism-grid-right {
  width: 100%;
}
.VotingMechanism-grid-left img:first-child {
  border-top-left-radius: 10px;
}
.VotingMechanism-grid-left img:nth-child(3) {
  border-top-right-radius: 10px;
}
.VotingMechanism-grid-left img:nth-child(4) {
  border-bottom-left-radius: 10px;
}
.VotingMechanism-grid-left img:nth-child(6) {
  border-bottom-right-radius: 10px;
}
.arabic-version .VotingMechanism-grid-left img:first-child {
  border-top-left-radius: unset;
  border-top-right-radius: 10px;
}
.arabic-version .VotingMechanism-grid-left img:nth-child(3) {
  border-top-right-radius: unset;
  border-top-left-radius: 10px;
}
.arabic-version .VotingMechanism-grid-left img:nth-child(4) {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: 10px;
}
.arabic-version .VotingMechanism-grid-left img:nth-child(6) {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: 10px;
}
.VotingMechanism-grid-right iframe {
  border-radius: 10px;
  height: 100%;
}
@media (max-width: 990px) {
  .VotingMechanism-container {
    grid-template-columns: 1fr;
  }
  .VotingMechanism-grid-right iframe {
    width: 100%;
    height: 400px;
  }
}
/* Ticket 32 */
.voting-mechanism-opening p {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.6rem;
  font-family: PNU-medium;
}
/* Ticket 31 */
.VotingMechanism-grid-right iframe {
  width: 100%;
}
/* Ticket 32 */
.arabic-version .voting-mechanism-opening p {
  line-height: 1.8rem;
}

